.App {
  font-family: sans-serif;
  /*text-align: center;*/
}

.form-control {
  width: 50%;
  padding: 10px;
  color: #1c1e26;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  outline: none;
}

.control-error {
  border: 1px solid red;
}